/*!*Brian Treichel, Ting Ting Lin, Ziming Qi*/
/*Conestoga College Capstone 2018*/
/*Main style sheet*!*/

body {
    font-family: "Verdana", Times, serif;
    margin: 0px 0px 0px 0px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    width: 100px;
    color: white;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=text], input[type=email], input[type=password], select  {
    border: 1px solid rebeccapurple;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    width: 100%;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rebeccapurple;
}

.navTitle {
    font-weight: bold;
}

.navbar > li {
    float: left;
    margin-left: 18.4%;
}

.navbar > li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
}

#account-dropdown {
    display: inline-block;
    float: right;
    margin-right: 18.4%;
}

#account-dropdown-content {
    display: none;
    position: absolute;
    right: 18.1%;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#account-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

#account-dropdown-content a:hover {
    background-color: #f1f1f1
}

#account-dropdown:hover .dropdown-content {
    display: inline-block;
}

/*!*---------------------------------------------------------------------------------------------------------------------*/
/*Home Page*/
/*---------------------------------------------------------------------------------------------------------------------*!*/
#search-container {
    margin: 3% 0% 1% 0%;
    padding: 0% 0% 0% 0%;
}

#mainSearchBar {
    background-color: rebeccapurple;
    border: 2px solid rebeccapurple;
    background: url(../img/search-icon-small.png);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 2%;
    width: 58.10%;
    font-size: 16px;
    padding: 12px 1.63% 12px 2.3%;
    margin-right: -0.5%;
    margin-bottom: 0%;
}

#filter-button {
    background-color: rebeccapurple;
    border: 2px solid rebeccapurple;
    color: white;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#filter-button:hover {
    background-color: #51287A;
    cursor: pointer;
}

#filter-pane {
    border: 2px solid rebeccapurple;
    margin-top: -0.1%;
    margin-left: 18.3%;
    margin-right: 18.3%;
}

#main-listings {
    margin-left: 18.4%;
    margin-right: 18.4%;
}

.listing {
    border: 2px solid rebeccapurple;
    margin-bottom: 1%;
}

.listings > a {
    color: black;
}

.listing:hover {
    background-color: LightGray;
}

.listing > img {
    margin: 1% 1% 1% 1%;
    /*width: 35%;*/
    /*height: 17.5%;*/
    width: 350px;
    height: 165px;
    display: inline-block;
    float: left;
    border: 2px solid rebeccapurple;
}

.listing-image-contrainer {
    width: 35%;
    height: auto;
    float: left;
    margin: 1% 1% 1% 1%;
}

.listing-image {
    object-fit: cover;
}

.listing-address {
    display: inline-block;
    vertical-align: top;
    margin-top: 1%;
    margin-bottom: 0%;
}

.listing-city {
    display: inline-block;
    vertical-align: top;
    margin-top: 0%;
    margin-bottom: 0%;
}

.listing-price {
    margin-bottom: 0.5%;
}

.listing-extra-div1 {
    display: inline-block;
    padding-top: 2.5%;
    margin-top: 0%;
}

.listing-extra-div2 {
    display: inline-block;
    float: right;
    padding-top: 2.5%;
    margin-right: 1%;
}

.listing-detail {
    display: inline-block;
}

/*!*---------------------------------------------------------------------------------------------------------------------*/
/*Login Page*/
/*---------------------------------------------------------------------------------------------------------------------*!*/
/*#login-container {*/
    /*margin: 3% 32% 0% 32%;*/
    /*padding: 1% 1% 1% 1%;*/
    /*border: 2px solid rebeccapurple;*/
/*}*/

/*#login-container > a {*/
     /*color: rebeccapurple;*/
/*}*/

/*.login-element {*/
    /*margin-bottom: 5%;*/
/*}*/

/*#login-button  {*/
    /*margin-top: 3%;*/
    /*margin-bottom: 1%;*/
/*}*/

/*#sign-up-link > a {*/
    /*color: rebeccapurple;*/
    /*margin-top: 0%;*/
    /*margin-bottom: 1%;*/
/*}*/

/*!*---------------------------------------------------------------------------------------------------------------------*/
/*Sign Up Page*/
/*---------------------------------------------------------------------------------------------------------------------*!*/
/*#signup-container {*/
    /*margin: 3% 32% 3% 32%;*/
    /*padding: 1% 1% 1% 1%;*/
    /*border: 2px solid rebeccapurple;*/
/*}*/
/*#signup-province {*/
    /*margin-bottom: 1%;*/
/*}*/

/*#signup-phone-num {*/
    /*margin-bottom: 5%;*/
/*}*/

/*#signup-button {*/
    /*margin-bottom: 0%;*/
/*}*/



/*!*#login-container > form {*!*/
    /*!*padding: 1% 1% 1% 1%;*!*/
    /*!*margin: 5% 32% 0% 32%;*!*/
/*!*}*!*/

    /*!*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ *!*/

/*!**/
 /** What follows is the result of much research on cross-browser styling.*/
 /** Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,*/
 /** Kroc Camen, and the H5BP dev community and team.*/
 /**!*/

/*!* ==========================================================================*/
   /*Base styles: opinionated defaults*/
   /*========================================================================== *!*/

/*html {*/
    /*color: #222;*/
    /*font-size: 1em;*/
    /*line-height: 1.4;*/
/*}*/

/*!**/
 /** Remove text-shadow in selection highlight:*/
 /** https://twitter.com/miketaylr/status/12228805301*/
 /***/
 /** Vendor-prefixed and regular ::selection selectors cannot be combined:*/
 /** https://stackoverflow.com/a/16982510/7133471*/
 /***/
 /** Customize the background color to match your design.*/
 /**!*/

/*::-moz-selection {*/
    /*background: #b3d4fc;*/
    /*text-shadow: none;*/
/*}*/

/*::selection {*/
    /*background: #b3d4fc;*/
    /*text-shadow: none;*/
/*}*/

/*!**/
 /** A better looking default horizontal rule*/
 /**!*/

/*hr {*/
    /*display: block;*/
    /*height: 1px;*/
    /*border: 0;*/
    /*border-top: 1px solid #ccc;*/
    /*margin: 1em 0;*/
    /*padding: 0;*/
/*}*/

/*!**/
 /** Remove the gap between audio, canvas, iframes,*/
 /** images, videos and the bottom of their containers:*/
 /** https://github.com/h5bp/html5-boilerplate/issues/440*/
 /**!*/

/*audio,*/
/*canvas,*/
/*iframe,*/
/*img,*/
/*svg,*/
/*video {*/
    /*vertical-align: middle;*/
/*}*/

/*!**/
 /** Remove default fieldset styles.*/
 /**!*/

/*fieldset {*/
    /*border: 0;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*!**/
 /** Allow only vertical resizing of textareas.*/
 /**!*/

/*textarea {*/
    /*resize: vertical;*/
/*}*/

/*!* ==========================================================================*/
   /*Browser Upgrade Prompt*/
   /*========================================================================== *!*/

/*.browserupgrade {*/
    /*margin: 0.2em 0;*/
    /*background: #ccc;*/
    /*color: #000;*/
    /*padding: 0.2em 0;*/
/*}*/

/*!* ==========================================================================*/
   /*Author's custom styles*/
   /*========================================================================== *!*/

















/*!* ==========================================================================*/
   /*Helper classes*/
   /*========================================================================== *!*/

/*!**/
 /** Hide visually and from screen readers*/
 /**!*/

/*.hidden {*/
    /*display: none !important;*/
/*}*/

/*!**/
 /** Hide only visually, but have it available for screen readers:*/
 /** https://snook.ca/archives/html_and_css/hiding-content-for-accessibility*/
 /***/
 /** 1. For long content, line feeds are not interpreted as spaces and small width*/
 /**    causes content to wrap 1 word per line:*/
 /**    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe*/
 /**!*/

/*.visuallyhidden {*/
    /*border: 0;*/
    /*clip: rect(0 0 0 0);*/
    /*-webkit-clip-path: inset(50%);*/
    /*clip-path: inset(50%);*/
    /*height: 1px;*/
    /*margin: -1px;*/
    /*overflow: hidden;*/
    /*padding: 0;*/
    /*position: absolute;*/
    /*width: 1px;*/
    /*white-space: nowrap; !* 1 *!*/
/*}*/

/*!**/
 /** Extends the .visuallyhidden class to allow the element*/
 /** to be focusable when navigated to via the keyboard:*/
 /** https://www.drupal.org/node/897638*/
 /**!*/

/*.visuallyhidden.focusable:active,*/
/*.visuallyhidden.focusable:focus {*/
    /*clip: auto;*/
    /*-webkit-clip-path: none;*/
    /*clip-path: none;*/
    /*height: auto;*/
    /*margin: 0;*/
    /*overflow: visible;*/
    /*position: static;*/
    /*width: auto;*/
    /*white-space: inherit;*/
/*}*/

/*!**/
 /** Hide visually and from screen readers, but maintain layout*/
 /**!*/

/*.invisible {*/
    /*visibility: hidden;*/
/*}*/

/*!**/
 /** Clearfix: contain floats*/
 /***/
 /** For modern browsers*/
 /** 1. The space content is one way to avoid an Opera bug when the*/
 /**    `contenteditable` attribute is included anywhere else in the document.*/
 /**    Otherwise it causes space to appear at the top and bottom of elements*/
 /**    that receive the `clearfix` class.*/
 /** 2. The use of `table` rather than `block` is only necessary if using*/
 /**    `:before` to contain the top-margins of child elements.*/
 /**!*/

/*.clearfix:before,*/
/*.clearfix:after {*/
    /*content: " "; !* 1 *!*/
    /*display: table; !* 2 *!*/
/*}*/

/*.clearfix:after {*/
    /*clear: both;*/
/*}*/

/*!* ==========================================================================*/
   /*EXAMPLE Media Queries for Responsive Design.*/
   /*These examples override the primary ('mobile first') styles.*/
   /*Modify as content requires.*/
   /*========================================================================== *!*/

/*@media only screen and (min-width: 35em) {*/
    /*!* Style adjustments for viewports that meet the condition *!*/
/*}*/

/*@media print,*/
       /*(-webkit-min-device-pixel-ratio: 1.25),*/
       /*(min-resolution: 1.25dppx),*/
       /*(min-resolution: 120dpi) {*/
    /*!* Style adjustments for high resolution devices *!*/
/*}*/

/*!* ==========================================================================*/
   /*Print styles.*/
   /*Inlined to avoid the additional HTTP request:*/
   /*http://www.phpied.com/delay-loading-your-print-css/*/
   /*========================================================================== *!*/

/*@media print {*/
    /**,*/
    /**:before,*/
    /**:after {*/
        /*background: transparent !important;*/
        /*color: #000 !important; !* Black prints faster:*/
                                   /*http://www.sanbeiji.com/archives/953 *!*/
        /*box-shadow: none !important;*/
        /*text-shadow: none !important;*/
    /*}*/

    /*a,*/
    /*a:visited {*/
        /*text-decoration: underline;*/
    /*}*/

    /*a[href]:after {*/
        /*content: " (" attr(href) ")";*/
    /*}*/

    /*abbr[title]:after {*/
        /*content: " (" attr(title) ")";*/
    /*}*/

    /*!**/
     /** Don't show links that are fragment identifiers,*/
     /** or use the `javascript:` pseudo protocol*/
     /**!*/

    /*a[href^="#"]:after,*/
    /*a[href^="javascript:"]:after {*/
        /*content: "";*/
    /*}*/

    /*pre {*/
        /*white-space: pre-wrap !important;*/
    /*}*/
    /*pre,*/
    /*blockquote {*/
        /*border: 1px solid #999;*/
        /*page-break-inside: avoid;*/
    /*}*/

    /*!**/
     /** Printing Tables:*/
     /** http://css-discuss.incutio.com/wiki/Printing_Tables*/
     /**!*/

    /*thead {*/
        /*display: table-header-group;*/
    /*}*/

    /*tr,*/
    /*img {*/
        /*page-break-inside: avoid;*/
    /*}*/

    /*p,*/
    /*h2,*/
    /*h3 {*/
        /*orphans: 3;*/
        /*widows: 3;*/
    /*}*/

    /*h2,*/
    /*h3 {*/
        /*page-break-after: avoid;*/
    /*}*/
/*}*/
